@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
:root {
  font-family: "Space Grotesk", sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  --text-color: #011b0f;
  --text-name: #011b0f;
  --text-color-coins: #f0f0f0;
  --bg-color: #f0f0f0;
  --bg-navbar: #022213;
  --bg-navbar-icon-hover: #011b0f;
  --bg-search: #011b0f;
  --bg-profile: #011b0f;
  --bg-profile-name: #b0ec69;
  --bg-ranking: #011b0f;
  --bg-ranking-item: #022213;
  --bg-list: #032917;
  --bg-list-item: #022213;
  --bg-list-item-hover: #033f28;
  --bg-list-item-hover-icon: #b0ec69;
  --bg-list-stats: #011b0f;
  --bg-chart: #022213;
  --bg-chart-item: #b0ec69;
  --bg-buttons: #b0ec69;
  --bg-gradient-top: #b0ec6999;
  --bg-gradient-bottom: #0222131a;
  --bg-buttons-hover: #b0ec69;
  --text-number-chart: #b0ec69;
  --bg-buttons-container: #011b0f;
}
.dark {
  --text-color: #b0004a;
  --text-name: #f0f0f0;
  --text-color-coins: #f0f0f0;
  --bg-color: #1a1a1a;
  --bg-navbar: #d80059;
  --bg-navbar-icon-hover: #b0004a;
  --bg-search: #b0004a;
  --bg-profile: #b0004a;
  --bg-profile-name: #d80059;
  --bg-ranking: #b0004a;
  --bg-ranking-item: #d80059;
  --bg-list: #8a003b;
  --bg-list-item: #d80059;
  --bg-list-item-hover: #500a27;
  --bg-list-item-hover-icon: #ffa7c9;
  --bg-list-stats: #b0004a;
  --bg-chart: #d80059;
  --bg-chart-item: #ffa7c9;
  --bg-buttons: #ffa7c9;
  --bg-gradient-top: #ffa7c980;
  --bg-gradient-bottom: #8a003b40;
  --bg-buttons-hover: #dc5aac;
  --text-number-chart: #ffa7c9;
  --bg-buttons-container: #b0004a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
}
